/* 
Classes are created in CSS to be used wherever we need in our HTML
Their name starts with a .

Anything within the { } are properties that the class will apply.
*/

.mainTitle{
    color:red;
}

.themeColour{
    color:#1d8165;
}

.paragraphClass{
    color:#3e6d96;
    font-weight: bold;
}

/* This selector targets all paragraphs in a page that uses this CSS file */
p{
    background-color: #c1c1c1;
    font-size: 20px;
}

/* This targets the body, i.e. the entire page */
body{
    background-color: coral;
    font-family:Arial, Helvetica, sans-serif;
}

.imageSize{
    height: 200px;
}